<md-dialog aria-label="Add/Edit Event">
    <form name="eventObjForm" novalidate ng-submit="eventObjForm.$valid && answer(eventObj)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add/Edit Event</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="hide()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="md-padding">
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Event Name</label>
                    <input ng-model="eventObj.name" placeholder="Event Name" required="">
                </md-input-container>
                <md-select placeholder="Event Type" ng-model="eventObj.type" flex required="">
                    <md-option ng-repeat="type in types" value="{{type.id}}">{{type.name}}</md-option>
                </md-select>
            </div>
            <md-input-container flex>
                <label>Guest Name</label>
                <input ng-model="eventObj.guestname" type="text" required="">
            </md-input-container>
            <div layout layout-sm="column">
              <div layout="row">
                  <md-input-container flex>
                    <label>Date</label>
                    <input ng-model="eventObj.whend" type="date" required="">
                  </md-input-container>
                  <span flex></span>
                  <md-input-container flex>
                    <label>Time</label>
                    <input ng-model="eventObj.whent" type="time" required="">
                  </md-input-container>
              </div>
                <md-input-container flex>
                    <label>Venue</label>
                    <input ng-model="eventObj.where" required="" type="text">
                </md-input-container>
                <md-switch ng-model="eventObj.isPaid" aria-label="Fees" flex>
                    {{eventObj.cb1?"Paid":"Free"}}
                </md-switch>
            </div> <md-input-container flex>
                <label>Description</label>
                <textarea ng-model="eventObj.what" columns="1" md-maxlength="150"></textarea>
            </md-input-container>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="cancel()"> Cancel </md-button>
            <md-button type="submit" class="md-primary md-raised"> Save </md-button>
        </div>
    </form>
</md-dialog>
